body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 105, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-left: 14rem;
  margin-top: 8rem;
  color: #00ffde;
}

table {
  border-collapse: inherit;
}

#mainContacts > tr > td {
  height: 2rem;
  width: 9rem;
  white-space: nowrap;
}

#mainContacts > tr > th {
  white-space: nowrap;
}

input {
  color: black;
}
button {
  color: black;
}
select {
  color: black;
}

#CallerLogs > tr > td {
  height: 2rem;
  width: 9rem;
  white-space: nowrap;
}

#CallerLogs > tr > th {
  white-space: nowrap;
}
